{% extends "base/base.html" %}

{% comment "GPLv3 license note" %}
#
#   VMailSysConf
#   Django project which uses youtube-dl to download and serve videos.
#   Copyright (C) 2017 Walter Reiner <walter.reiner@wreiner.at>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#
{% endcomment %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User settings</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Actions Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>You can change your password of your mailbox via the Change Password functionality.</p>
                <p><a href="/password">Change Password</a></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mailbox details</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Details and Actions Row -->
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th width="25%">Email Address</th>
                            <td width="75%">{{mailbox.username}}@{{mailbox.domain}}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{mailbox.name}}</td>
                        </tr>
                        <tr>
                            <th>Quota</th>
                            <td>
                                {{mailbox.quotasize}} GB, unlimited messages<br/>
                                <i><b>Note: </b>Please clean your Trash and Spam folder regularly.</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                {% if aliases %}
                <p>Your domain administrator configured the following adresses as an alias for your mailbox.
                    This means that emails sent to one of this addresses will be forwarded to your mailbox.</p>
                    <ul class="list-unstyled">
                        {% for alias in aliases %}
                            <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="mailto:{{alias}}">{{alias}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    {% endif %}
                  {% for page in paginator.page_range %}
                  <li {% if page == page_obj.number %}class="active"{% endif %}>
                        <a href="#">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}
