{% extends "base/base.html" %}

{% comment "GPLv3 license note" %}
#
#   VMailSysConf
#   Django project which uses youtube-dl to download and serve videos.
#   Copyright (C) 2017 Walter Reiner <walter.reiner@wreiner.at>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#
{% endcomment %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Details of Domain {{ domain }}</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Domain Details Row -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">{{ domain }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="25%">Quota (Size in GB)</th>
                            <td width="25%">{{ domain.quota_sum|default:"0" }} / {{ domain.mailbox_count_quota }}</td>
                            <th width="25%">Mailboxes (Count)</th>
                            <td width="25%">{{ domain.mailbox_cnt|default:"0" }} / {{ domain.mailbox_size_quota }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br/>

        <!-- Mailboxes Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Mailboxes</h2>
                {% if mailboxes %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th width="25%">Mailbox</th>
                            <th width="20%">Name</th>
                            <th >Quota (in GB)</th>
                            <th >Active</th>
                            <th >Domain Admin</th>
                            <th width="25%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mailbox in mailboxes %}
                            <tr>
                                <td>
                                    {{ mailbox.username }}@{{ mailbox.domain }}
                                </td>
                                <td>
                                    {{ mailbox.name }}
                                </td>
                                <td style="text-align: center;">
                                    {{ mailbox.quotasize }}
                                </td>
                                <td style="text-align: center;">
                                    {% if mailbox.enabled %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    {% if mailbox.is_domain_admin %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td style="text-align: right;">
                                    <a href="/domain/mailbox/changepassword/{{mailbox.id}}/">
                                        <button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Password
                                        </button>
                                    </a>
                                    <a href="/domain/mailbox/edit/{{mailbox.id}}/">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                        </button>
                                    </a>
                                    <a href="/domain/mailbox/delete/{{mailbox.id}}/">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>There are no mailboxes configured yet.</p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a href="/domain/mailbox/create/{{domain.id}}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a mailbox
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <br/>

        <!-- Aliases Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Aliases</h2>
                {% if aliases %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th width="20%">Source</th>
                            <th width="40%">Destination</th>
                            <th width="20%">Active</th>
                            <th width="5%">&nbsp;</th>
                            <th width="5%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alias in aliases %}
                            <tr>
                                <td>
                                    {{ alias.source }}
                                </td>
                                <td>
                                    {{ alias.destination }}
                                </td>
                                <td>
                                    {% if alias.enabled %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/domain/alias/edit/{{domain.id}}/{{alias.id}}/">
                                        <button type="button" class="btn btn-info">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/domain/alias/delete/{{alias.id}}/">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                                        </button>
                                    </a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>There are no aliases configured yet.</p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <div class="alert alert-info" role="alert">
                        <b>Note:</b> According to <a href="https://tools.ietf.org/html/rfc2142">RFC 2142</a>
                        every domain should monitor the following email addresses:
                        <ul class="list-unstyled">
                            <li>abuse@{{domain}}</li>
                            <li>webmaster@{{domain}}</li>
                            <li>postmaster@{{domain}}</li>
                        </ul>
                    </div>
                    <a href="/domain/alias/create/{{domain.id}}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add an alias
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
