{% extends "base/base.html" %}

{% comment "GPLv3 license note" %}
#
#   VMailSysConf
#   Django project which uses youtube-dl to download and serve videos.
#   Copyright (C) 2017 Walter Reiner <walter.reiner@wreiner.at>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#
{% endcomment %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Add a domain</h2>
        </div>
    </div>

    <div class="col-lg-12">
        <form method="POST" action=".">
            {% csrf_token %}
            {{form.as_p}}

            <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-danger" name="cancel" value="cancel">Cancel</button>
            </div>
        </form>
    </div>


{% endblock %}
