{% extends "base/base.html" %}

{% block content %}

<h2>Mailbox Confirm Delete</h2>
<br/>

<form method="POST" action=".">
    {% csrf_token %}

    <div class="col-sm-12">
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-primary" value="Confirm">Submit</button>
    </div>
</form>

{% endblock %}
