{% extends "base/base.html" %}

{% comment "GPLv3 license note" %}
#
#   VMailSysConf
#   Django project which uses youtube-dl to download and serve videos.
#   Copyright (C) 2017 Walter Reiner <walter.reiner@wreiner.at>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#
{% endcomment %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Mailboxes for {{ current_domain }}</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Domains Row -->
        <div class="row">
            <div class="col-lg-12">
                {% if mailboxes %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th width="40%">Mailbox</th>
                            <th width="20%">Name</th>
                            <th width="10%">Quota (in GB)</th>
                            <th width="20%">Active</th>
                            <th width="10%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mailbox in mailboxes %}
                            <tr>
                                <td>
                                    {{ mailbox.username }}@{{ mailbox.domain }}
                                </td>
                                <td>
                                    {{ mailbox.name }}
                                </td>
                                <td>
                                    {{ mailbox.quotasize }}
                                </td>
                                <td>
                                    {% if mailbox.enabled %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/domain/mailbox/delete/{{mailbox.id}}/">
                                        <button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>There are no domains configured yet.</p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a href="/domain/mailbox/create/">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a mailbox
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    {% endif %}
                  {% for page in paginator.page_range %}
                  <li {% if page == page_obj.number %}class="active"{% endif %}>
                        <a href="#">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}
